# Remove this line first before doing anything

___________PLOX_______REMOVE_____THIS_____LINE__________=True

# Get these from https://my.telegram.org/

API_KEY = "YOUR API KEY"

API_HASH = "YOUR API HASH"

# OpenWeather Map API Key for .weather command

# Get from https://openweathermap.org/

OPEN_WEATHER_MAP_APPID = ""

WEATHER_DEFCITY = ""

# Location of ChromeDriver for .carbon module

# Example for Linux Machines : "/usr/bin/chromedriver"

CHROME_DRIVER = ""

# Get this value by running python3 string_session.py locally

STRING_SESSION = ""

# Headless GoogleChrome location for .carbon module

# Example for Linux Machines : "/usr/bin/chromium-browser"

GOOGLE_CHROME_BIN = ""

# OCR Space API Key for .ocr command

# Get from https://ocr.space/ocrapi

OCR_SPACE_API_KEY = ""

# Genius lyrics get this value from https://genius.com/developers both has same values

GENIUS_API_TOKEN = ""

# Genius lyrics get this value from https://genius.com/developers both has same values

GENIUS = ""

# remove.bg API Key for .rbg command

# Get from https://www.remove.bg/api

REM_BG_API_KEY = ""

# ChatID for the Log group

# Add a Hypen or a Negative Sign before ID

# This is a integer, Please don't use Strings

BOTLOG_CHATID = # this is an integer, please don't use quotes.

# Incase you want to turn off logging, put this to false

BOTLOG = True

# Set this to True if you want the error logs to be stored in

# the userbot log, rather than spamming other chats with it.

# Note that this requires a valid BOTLOG_CHATID to be set.

LOGSPAMMER = True

# If you need Verbosity on the Logging

CONSOLE_LOGGER_VERBOSE = False

# PM Auto-Ban Feature Switch

PM_AUTO_BAN = False

# Custom Default name for .alive

ALIVE_NAME = None

# atur blacklist_chats di mana Anda tidak menginginkan fitur userbot

UB_BLACK_LIST_CHAT = ""

    

# URL Basis Data Anda

# Contoh: 'postgres://userbot:userbot@localhost:5432/userbot'

DATABASE_URL = ""

# Kunci API Data YouTube untuk perintah .yt

# Dapatkan dari https://console.cloud.google.com

YOUTUBE_API_KEY = ""

# Pengaturan Negara dan Zona Waktu untuk

# modul .time dan .date

NEGARA = ""

TZ_NUMBER = # ini adalah bilangan bulat, jangan gunakan tanda kutip.

# Kredensial Google Drive

# untuk modul .gdrive.

# Dapatkan dari https://console.cloud.google.com

G_DRIVE_CLIENT_ID = ""

G_DRIVE_CLIENT_SECRET = ""

G_DRIVE_AUTH_TOKEN_DATA = ""

TEMP_DOWNLOAD_DIRECTORY = ""

# Anda harus memiliki dua nilai unik Anda sendiri untuk API_KEY dan API_SECRET

# Dapatkan milik Anda dari https://www.last.fm/api/account/create for Last.fm

LASTFM_API = Tidak ada

LASTFM_SECRET = Tidak ada

LASTFM_USERNAME = Tidak ada # Nama pengguna last.fm Anda

LASTFM_PASSWORD = "Kata sandi terakhir.fm Anda"

# Bot akan ditambahkan sebelum nama lagu. Untuk modul last.fm.

# Contoh: GitHub: MacTavishAO : Wajan - Merasa Tak Terkalahkan

BIO_PREFIX = ""

# pesan bio default

DEFAULT_BIO = ""

#UNTUK Akses Lydia

LYDIA_API_KEY = ""

LYDIA_ANTI-PM = ""

# Laporkan atau tendang beberapa bot spammer yang dikenal setelahnya

#mereka bergabung

ANTI_SPAMBOT = Salah

ANTI_SPAMBOT_SHOUT = Salah
